PORT=
GITHUB_WP_REPO_TOKEN=
GITHUB_REACT_REPO_TOKEN=
ANTHROPIC_API_KEY=
ANTHROPIC_MODEL=
REACT_GEN_DELAY_MS=
PLANNING_MODEL=mistral/mistral-large-latest
GEN_CODE_MODEL=mistral/codestral-latest
REVIEW_CODE_MODEL=mistral/mistral-large-latest
BACKEND_REVIEW_MODEL=mistral/mistral-large-latest
AI_REVIEW_MODE=warn
BACKEND_AI_REVIEW_MODE=warn
FIX_AGENT_MODEL=mistral/codestral-latest
